<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h2>Recommended Movies</h2>
        {% if recommendations %}
            <ul>
                {% for movie in recommendations %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No recommendations available.</p>
        {% endif %}
        <a href="/" class="back-button">Go Back</a>
    </div>

</body>
</html>
